
@-webkit-keyframes uk-fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes uk-fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes uk-fade-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}

@keyframes uk-fade-top {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@-webkit-keyframes uk-fade-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}

@keyframes uk-fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@-webkit-keyframes uk-fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0)
  }
}

@keyframes uk-fade-left {
  0% {
    opacity: 0;
    transform: translateX(-100%)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@-webkit-keyframes uk-fade-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0)
  }
}

@keyframes uk-fade-right {
  0% {
    opacity: 0;
    transform: translateX(100%)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}

@-webkit-keyframes uk-fade-scale-02 {
  0% {
    opacity: 0;
    -webkit-transform: scale(.2)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1)
  }
}

@keyframes uk-fade-scale-02 {
  0% {
    opacity: 0;
    transform: scale(.2)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@-webkit-keyframes uk-fade-scale-15 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1)
  }
}

@keyframes uk-fade-scale-15 {
  0% {
    opacity: 0;
    transform: scale(1.5)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@-webkit-keyframes uk-fade-scale-18 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.8)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1)
  }
}

@keyframes uk-fade-scale-18 {
  0% {
    opacity: 0;
    transform: scale(1.8)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@-webkit-keyframes uk-slide-left {
  0% {
    -webkit-transform: translateX(-100%)
  }
  100% {
    -webkit-transform: translateX(0)
  }
}

@keyframes uk-slide-left {
  0% {
    transform: translateX(-100%)
  }
  100% {
    transform: translateX(0)
  }
}

@-webkit-keyframes uk-slide-right {
  0% {
    -webkit-transform: translateX(100%)
  }
  100% {
    -webkit-transform: translateX(0)
  }
}

@keyframes uk-slide-right {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(0)
  }
}

@-webkit-keyframes uk-slide-left-33 {
  0% {
    -webkit-transform: translateX(33%)
  }
  100% {
    -webkit-transform: translateX(0)
  }
}

@keyframes uk-slide-left-33 {
  0% {
    transform: translateX(33%)
  }
  100% {
    transform: translateX(0)
  }
}

@-webkit-keyframes uk-slide-right-33 {
  0% {
    -webkit-transform: translateX(-33%)
  }
  100% {
    -webkit-transform: translateX(0)
  }
}

@keyframes uk-slide-right-33 {
  0% {
    transform: translateX(-33%)
  }
  100% {
    transform: translateX(0)
  }
}

@-webkit-keyframes uk-scale-12 {
  0% {
    -webkit-transform: scale(1.2)
  }
  100% {
    -webkit-transform: scale(1)
  }
}

@keyframes uk-scale-12 {
  0% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}

@-webkit-keyframes uk-rotate {
  0% {
    -webkit-transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(359deg)
  }
}

@keyframes uk-rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(359deg)
  }
}

@-webkit-keyframes uk-shake {
  0%, 100% {
    -webkit-transform: translateX(0)
  }
  10% {
    -webkit-transform: translateX(-9px)
  }
  20% {
    -webkit-transform: translateX(8px)
  }
  30% {
    -webkit-transform: translateX(-7px)
  }
  40% {
    -webkit-transform: translateX(6px)
  }
  50% {
    -webkit-transform: translateX(-5px)
  }
  60% {
    -webkit-transform: translateX(4px)
  }
  70% {
    -webkit-transform: translateX(-3px)
  }
  80% {
    -webkit-transform: translateX(2px)
  }
  90% {
    -webkit-transform: translateX(-1px)
  }
}

@keyframes uk-shake {
  0%, 100% {
    transform: translateX(0)
  }
  10% {
    transform: translateX(-9px)
  }
  20% {
    transform: translateX(8px)
  }
  30% {
    transform: translateX(-7px)
  }
  40% {
    transform: translateX(6px)
  }
  50% {
    transform: translateX(-5px)
  }
  60% {
    transform: translateX(4px)
  }
  70% {
    transform: translateX(-3px)
  }
  80% {
    transform: translateX(2px)
  }
  90% {
    transform: translateX(-1px)
  }
}

@-webkit-keyframes uk-slide-top-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}

@keyframes uk-slide-top-fixed {
  0% {
    opacity: 0;
    transform: translateY(-10px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@-webkit-keyframes uk-slide-bottom-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}

@keyframes uk-slide-bottom-fixed {
  0% {
    opacity: 0;
    transform: translateY(10px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}



.uk-cover-background {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat
}

.uk-cover {
  overflow: hidden
}

.uk-cover-object {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

[data-uk-cover] {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}


.uk-list, .uk-list-inline {
  padding: 0;
  list-style: none
}

.uk-list-inline li {
  display: inline-block
}

.uk-list>li:after, .uk-list>li:before {
  content: "";
  display: table
}

.uk-list>li>:last-child {
  margin-bottom: 0
}

.uk-list ul {
  margin: 0;
  padding-left: 20px;
  list-style: none
}

.uk-list-line>li:nth-child(n+2) {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #ddd
}

.uk-list-striped>li {
  padding: 5px
}

.uk-list-striped>li:nth-of-type(odd) {
  background: #f5f5f5
}

.uk-list-space>li:nth-child(n+2) {
  margin-top: 10px
}


.uk-overlay {
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0)
}

.uk-overlay-area:empty:before, .uk-overlay-icon:before {
  content: "";
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  font-size: 50px;
  line-height: 1;
  text-align: center;
  font-family: FontAwesome
}

.uk-overlay.uk-border-circle {
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%)
}

.uk-overlay-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff
}

.uk-overlay-panel a[class*=uk-icon-]:not(.uk-icon-button), .uk-overlay-panel h1, .uk-overlay-panel h2, .uk-overlay-panel h3, .uk-overlay-panel h4, .uk-overlay-panel h5, .uk-overlay-panel h6 {
  color: inherit
}

.uk-overlay-panel a:not([class]) {
  color: inherit;
  text-decoration: underline
}

.uk-overlay-active :not(.uk-active)>.uk-overlay-panel:not(.uk-ignore), .uk-overlay-hover:not(:hover):not(.uk-hover) .uk-overlay-panel:not(.uk-ignore) {
  opacity: 0
}

.uk-overlay-background {
  background: rgba(0, 0, 0, .5)
}

.uk-overlay-image {
  padding: 0
}

.uk-overlay-top {
  bottom: auto
}

.uk-overlay-bottom {
  top: auto
}

.uk-overlay-left {
  right: auto
}

.uk-overlay-right {
  left: auto
}

.uk-overlay-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff
}

.uk-overlay-blur, .uk-overlay-fade, .uk-overlay-grayscale, .uk-overlay-scale, .uk-overlay-spin, [class*=uk-overlay-slide] {
  transition-duration: .3s;
  transition-timing-function: ease-out;
  transition-property: opacity, transform, filter
}

.uk-overlay-active .uk-overlay-fade, .uk-overlay-active .uk-overlay-scale, .uk-overlay-active .uk-overlay-spin, .uk-overlay-active [class*=uk-overlay-slide] {
  transition-duration: .8s
}

.uk-overlay-fade {
  opacity: .7
}

.uk-overlay-active .uk-active>.uk-overlay-fade, .uk-overlay-hover.uk-hover .uk-overlay-fade, .uk-overlay-hover:hover .uk-overlay-fade {
  opacity: 1
}

.uk-overlay-scale {
  -webkit-transform: scale(1);
  transform: scale(1)
}

.uk-overlay-active .uk-active>.uk-overlay-scale, .uk-overlay-hover.uk-hover .uk-overlay-scale, .uk-overlay-hover:hover .uk-overlay-scale {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.uk-overlay-spin {
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0)
}

.uk-overlay-active .uk-active>.uk-overlay-spin, .uk-overlay-hover.uk-hover .uk-overlay-spin, .uk-overlay-hover:hover .uk-overlay-spin {
  -webkit-transform: scale(1.1) rotate(3deg);
  transform: scale(1.1) rotate(3deg)
}

.uk-overlay-grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

.uk-overlay-active .uk-active>.uk-overlay-grayscale, .uk-overlay-hover.uk-hover .uk-overlay-grayscale, .uk-overlay-hover:hover .uk-overlay-grayscale {
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}

[class*=uk-overlay-slide] {
  opacity: 0
}

.uk-overlay-slide-top {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%)
}

.uk-overlay-slide-bottom {
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}

.uk-overlay-slide-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}

.uk-overlay-slide-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%)
}

.uk-overlay-active .uk-active>[class*=uk-overlay-slide], .uk-overlay-hover.uk-hover [class*=uk-overlay-slide], .uk-overlay-hover:hover [class*=uk-overlay-slide] {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0)
}

.uk-overlay-area, .uk-overlay-caption {
  -webkit-transition: opacity .15s linear;
  -webkit-transform: translate3d(0, 0, 0);
  position: absolute;
  right: 0;
  bottom: 0
}

.uk-overlay-area {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  transition: opacity .15s linear
}

.uk-overlay-toggle.uk-hover .uk-overlay-area, .uk-overlay-toggle:hover .uk-overlay-area, .uk-overlay.uk-hover .uk-overlay-area, .uk-overlay:hover .uk-overlay-area {
  opacity: 1
}

.uk-overlay-area:empty:before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff
}

.uk-overlay-area:not(:empty) {
  font-size: 0
}

.uk-overlay-area:not(:empty):before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

.uk-overlay-area-content {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  padding: 0 15px;
  color: #fff
}

.uk-overlay-area-content a:not([class]), .uk-overlay-area-content a:not([class]):hover {
  color: inherit
}

.uk-overlay-caption {
  left: 0;
  padding: 15px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  opacity: 0;
  transition: opacity .15s linear
}

.uk-overlay-toggle.uk-hover .uk-overlay-caption, .uk-overlay-toggle:hover .uk-overlay-caption, .uk-overlay.uk-hover .uk-overlay-caption, .uk-overlay:hover .uk-overlay-caption {
  opacity: 1
}


[class*=uk-animation-] {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@media screen {
  [data-uk-scrollspy*=uk-animation-]:not([data-uk-scrollspy*=target]) {
    opacity: 0
  }
}

.uk-animation-fade {
  -webkit-animation-name: uk-fade;
  animation-name: uk-fade;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-timing-function: linear!important;
  animation-timing-function: linear!important
}

.uk-animation-scale-up {
  -webkit-animation-name: uk-fade-scale-02;
  animation-name: uk-fade-scale-02
}

.uk-animation-scale-down {
  -webkit-animation-name: uk-fade-scale-18;
  animation-name: uk-fade-scale-18
}

.uk-animation-slide-top {
  -webkit-animation-name: uk-fade-top;
  animation-name: uk-fade-top
}

.uk-animation-slide-bottom {
  -webkit-animation-name: uk-fade-bottom;
  animation-name: uk-fade-bottom
}

.uk-animation-slide-left {
  -webkit-animation-name: uk-fade-left;
  animation-name: uk-fade-left
}

.uk-animation-slide-right {
  -webkit-animation-name: uk-fade-right;
  animation-name: uk-fade-right
}

.uk-animation-scale {
  -webkit-animation-name: uk-scale-12;
  animation-name: uk-scale-12
}

.uk-animation-shake {
  -webkit-animation-name: uk-shake;
  animation-name: uk-shake
}

.uk-animation-reverse {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in
}

.uk-animation-15 {
  -webkit-animation-duration: 15s;
  animation-duration: 15s
}

.uk-animation-top-left {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0
}

.uk-animation-top-center {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0
}

.uk-animation-top-right {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0
}

.uk-animation-middle-left {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%
}

.uk-animation-middle-right {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%
}

.uk-animation-bottom-left {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%
}

.uk-animation-bottom-center {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%
}

.uk-animation-bottom-right {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

.uk-animation-hover:not(:hover), .uk-animation-hover:not(:hover) [class*=uk-animation-], .uk-touch .uk-animation-hover:not(.uk-hover), .uk-touch .uk-animation-hover:not(.uk-hover) [class*=uk-animation-] {
  -webkit-animation-name: none;
  animation-name: none
}


.uk-overflow-container>:last-child, .uk-scrollable-box>:last-child {
  margin-bottom: 0
}

.uk-overflow-hidden {
  overflow: hidden
}

.uk-overflow-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch
}

.uk-position-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}



.uk-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.uk-flex-inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex
}

.uk-flex-inline>*, .uk-flex>* {
  -ms-flex-negative: 1
}

.uk-flex-top {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start
}

.uk-flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center
}

.uk-flex-bottom {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end
}

.uk-flex-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}

.uk-flex-right {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end
}

.uk-flex-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between
}

.uk-flex-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around
}

.uk-flex-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse
}

.uk-flex-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column
}

.uk-flex-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse
}

.uk-flex-nowrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.uk-flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

.uk-flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse
}

.uk-flex-wrap-top {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start
}

.uk-flex-wrap-middle {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center
}

.uk-flex-wrap-bottom {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end
}

.uk-flex-wrap-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between
}

.uk-flex-wrap-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around
}

.uk-flex-order-first {
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1
}

.uk-flex-order-last {
  -ms-flex-order: 99;
  -webkit-order: 99;
  order: 99
}

@media (min-width:480px) {
  .uk-flex-order-first-small {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1
  }
  .uk-flex-order-last-small {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99
  }
}

@media (min-width:868px) {
  .uk-heading-large {
    font-size: 52px;
    line-height: 64px
  }
  .uk-flex-order-first-medium {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1
  }
  .uk-flex-order-last-medium {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99
  }
}

@media (min-width:1200px) {
  .uk-flex-order-first-large {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1
  }
  .uk-flex-order-last-large {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99
  }
}

@media (min-width:1400px) {
  .uk-flex-order-first-xlarge {
    -ms-flex-order: -1;
    -webkit-order: -1;
    order: -1
  }
  .uk-flex-order-last-xlarge {
    -ms-flex-order: 99;
    -webkit-order: 99;
    order: 99
  }
}

.uk-flex-item-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none
}

.uk-flex-item-auto {
  -ms-flex: auto;
  -webkit-flex: auto;
  flex: auto;
  -ms-flex-negative: 1
}

.uk-flex-item-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1
}



/* ========================================================================
   Component: Slideshow
 ========================================================================== */
/*
 * 1. Create position context
 * 2. Create stacking context to prevent z-index issues with other components
 * 3. Set width because child elements are positioned absolute. Height is set via JS
 * 4. Reset list style
 * 5. Clip child elements
 * 6. Deactivate browser history navigation in IE11
 */
.uk-slideshow {
  /* 1 */
  position: relative;
  /* 2 */
  z-index: 0;
  /* 3 */
  width: 100%;
  /* 4 */
  margin: 0;
  padding: 0;
  list-style: none;
  /* 5 */
  overflow: hidden;
  /* 6 */
  touch-action: pan-y; }

/*
 * Sub-object item
 * 1. Position items above each other
 * 2. Expand to parent container width
 * 3. Hide by default
 */
.uk-slideshow > li {
  /* 1 */
  position: absolute;
  top: 0;
  left: 0;
  /* 2 */
  width: 100%;
  /* 3 */
  opacity: 0; }

/*
 * Active
 * 1. Stack at first
 * 2. Show slide
 */
.uk-slideshow > .uk-active {
  /* 1 */
  z-index: 10;
  /* 2 */
  opacity: 1; }

/*
 * Hide default images which is only relevant to keep existing proportions
 */
.uk-slideshow > li > img {
  visibility: hidden; }

/*
 * Pointer for controls
 */
[data-uk-slideshow-slide] {
  cursor: pointer; }

/* Modifier: `uk-slideshow-fullscreen`
 ========================================================================== */
.uk-slideshow-fullscreen,
.uk-slideshow-fullscreen > li {
  height: 100vh; }

/* Animations
 ========================================================================== */
/*
 * Fade
 */
.uk-slideshow-fade-in {
  -webkit-animation: uk-fade 0.5s linear;
  animation: uk-fade 0.5s linear; }

.uk-slideshow-fade-out {
  -webkit-animation: uk-fade 0.5s linear reverse;
  animation: uk-fade 0.5s linear reverse; }

/*
 * Scroll
 */
.uk-slideshow-scroll-forward-in {
  -webkit-animation: uk-slide-right 0.5s ease-in-out;
  animation: uk-slide-right 0.5s ease-in-out; }

.uk-slideshow-scroll-forward-out {
  -webkit-animation: uk-slide-left 0.5s ease-in-out reverse;
  animation: uk-slide-left 0.5s ease-in-out reverse; }

.uk-slideshow-scroll-backward-in {
  -webkit-animation: uk-slide-left 0.5s ease-in-out;
  animation: uk-slide-left 0.5s ease-in-out; }

.uk-slideshow-scroll-backward-out {
  -webkit-animation: uk-slide-right 0.5s ease-in-out reverse;
  animation: uk-slide-right 0.5s ease-in-out reverse; }

/*
 * Scale
 */
.uk-slideshow-scale-out {
  -webkit-animation: uk-fade-scale-15 0.5s ease-in-out reverse;
  animation: uk-fade-scale-15 0.5s ease-in-out reverse; }

/*
 * Swipe
 */
.uk-slideshow-swipe-forward-in {
  -webkit-animation: uk-slide-left-33 0.5s ease-in-out;
  animation: uk-slide-left-33 0.5s ease-in-out; }

.uk-slideshow-swipe-forward-out {
  -webkit-animation: uk-slide-left 0.5s ease-in-out reverse;
  animation: uk-slide-left 0.5s ease-in-out reverse; }

.uk-slideshow-swipe-backward-in {
  -webkit-animation: uk-slide-right-33 0.5s ease-in-out;
  animation: uk-slide-right-33 0.5s ease-in-out; }

.uk-slideshow-swipe-backward-out {
  -webkit-animation: uk-slide-right 0.5s ease-in-out reverse;
  animation: uk-slide-right 0.5s ease-in-out reverse; }

.uk-slideshow-swipe-forward-in:before,
.uk-slideshow-swipe-backward-in:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  -webkit-animation: uk-fade 0.5s ease-in-out reverse;
  animation: uk-fade 0.5s ease-in-out reverse; }

.uk-slideshow {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  touch-action: pan-y; }

.uk-slideshow > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0; }

.uk-slideshow > .uk-active {
  z-index: 10;
  opacity: 1; }

.uk-slideshow > li > img {
  visibility: hidden; }

[data-uk-slideshow-slide] {
  cursor: pointer; }

.uk-slideshow-fullscreen, .uk-slideshow-fullscreen > li {
  height: 100vh; }

.uk-slideshow-fade-in {
  -webkit-animation: uk-fade .5s linear;
  animation: uk-fade 0.5s linear; }

.uk-slideshow-fade-out {
  -webkit-animation: uk-fade .5s linear reverse;
  animation: uk-fade 0.5s linear reverse; }

.uk-slideshow-scroll-forward-in {
  -webkit-animation: uk-slide-right .5s ease-in-out;
  animation: uk-slide-right 0.5s ease-in-out; }

.uk-slideshow-scroll-forward-out {
  -webkit-animation: uk-slide-left .5s ease-in-out reverse;
  animation: uk-slide-left 0.5s ease-in-out reverse; }

.uk-slideshow-scroll-backward-in {
  -webkit-animation: uk-slide-left .5s ease-in-out;
  animation: uk-slide-left 0.5s ease-in-out; }

.uk-slideshow-scroll-backward-out {
  -webkit-animation: uk-slide-right .5s ease-in-out reverse;
  animation: uk-slide-right 0.5s ease-in-out reverse; }

.uk-slideshow-scale-out {
  -webkit-animation: uk-fade-scale-15 .5s ease-in-out reverse;
  animation: uk-fade-scale-15 0.5s ease-in-out reverse; }

.uk-slideshow-swipe-forward-in {
  -webkit-animation: uk-slide-left-33 .5s ease-in-out;
  animation: uk-slide-left-33 0.5s ease-in-out; }

.uk-slideshow-swipe-forward-out {
  -webkit-animation: uk-slide-left .5s ease-in-out reverse;
  animation: uk-slide-left 0.5s ease-in-out reverse; }

.uk-slideshow-swipe-backward-in {
  -webkit-animation: uk-slide-right-33 .5s ease-in-out;
  animation: uk-slide-right-33 0.5s ease-in-out; }

.uk-slideshow-swipe-backward-out {
  -webkit-animation: uk-slide-right .5s ease-in-out reverse;
  animation: uk-slide-right 0.5s ease-in-out reverse; }

.uk-slideshow-swipe-backward-in:before, .uk-slideshow-swipe-forward-in:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  -webkit-animation: uk-fade .5s ease-in-out reverse;
  animation: uk-fade 0.5s ease-in-out reverse; }

.uk-slidenav {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: rgba(50, 50, 50, 0.4);
  font-size: 60px;
  text-align: center; }

.uk-slidenav:focus, .uk-slidenav:hover {
  outline: 0;
  text-decoration: none;
  color: rgba(50, 50, 50, 0.7);
  cursor: pointer; }

.uk-slidenav:active {
  color: rgba(50, 50, 50, 0.9); }

.uk-slidenav-previous:before {
  content: "\f104";
  font-family: FontAwesome; }

.uk-slidenav-next:before {
  content: "\f105";
  font-family: FontAwesome; }

.uk-slidenav-position {
  position: relative; }

.uk-slidenav-position .uk-slidenav {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: -30px; }

.uk-slidenav-position:hover .uk-slidenav {
  display: block; }

.uk-slidenav-position .uk-slidenav-previous {
  left: 20px; }

.uk-slidenav-position .uk-slidenav-next {
  right: 20px; }

.uk-slidenav-contrast {
  color: rgba(255, 255, 255, 0.5); }

.uk-slidenav-contrast:focus, .uk-slidenav-contrast:hover {
  color: rgba(255, 255, 255, 0.7); }

.uk-slidenav-contrast:active {
  color: rgba(255, 255, 255, 0.9); }

.quote {
    background-color: rgba(29, 71, 81, 0.4);
    padding:0 8px 0 8px;
    color:white;
    font-weight:700;
  }
